

body{
	background-color: rgba(55, 187, 186, 0.39);
	width: 100%;
    margin:0;
    font-family: 'Montserrat',sans-serif;
}
#tabla1{
    border: 3px solid black;
    background-color: rgba(0,47,109,0.80);
    padding: 4px;
    margin-left: 21% !important;
    margin-top: 5% !important;
    margin: 10%;
    width: 60%;
    height: 300px;

}
#tabla2{
    border: 3px solid black;
    background-color: rgba(185, 44, 12, 0.8);
    padding: 4px;
    margin-left: 21% !important;
    margin-top: 5% !important;
    margin: 10%;
    width: 60%;
    height: 300px;
}
#tabla3{
    border: 3px solid black;
    background-color: rgba(8, 39, 36, 0.8);
    padding: 4px;
    margin-left: 21% !important;
    margin-top: 5% !important;
    margin: 10%;
    width: 60%;
    height: 600px;
}

#dias{
    width: 16%;
    padding-left: 20px;
    font-weight: bold;
    background-color: #9E9E9E;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;

}

#horario{
    width: 13%;
    padding-left: 20px;
    font-weight: bold;
    background-color: #9E9E9E;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
}

#asignatura{
	padding-left: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    color: white;

}

#desplegable {
    font-family: 'Montserrat',sans-serif;
    margin-left: 44%;
    padding-left: 4px;
    width: 12%;
    padding-right: 5px;
    /* margin-right: 50%; */
    padding-left: 8px;
    font-size: 25px;
    font-weight: bold;
}

 /*
 #boton {
	width: 8%;
    height: 44px;
    background-color: rgba(166, 167, 189, 0.75);
    font-size: 1.5em;
    font-family: 'Montserrat',sans-serif;


   	cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#boton:hover {
	background: #002E6D;
    color: #fff;

}
*/

.footerBlock{
    background-color: #002E6D;
    border-radius: 5px;
    width: 100%;
    paddwin-top: 10px;
    padding: 18px;
    /* font-family: montserrat; */
    text-align: center;
    color: white;
    font-size: 1.5em;
    position:relative;
}


